 @import './sharedVariables.css'; 

.wrapper {
  background-color: var(--pageBackgroundColor);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel {
  background-color: var(--gameContainerColor);
  text-align: center;
  width: 90vw;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.heroPanel {
  margin-top: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  margin: 0;
  font-size: clamp(3rem, 16vw, 5.5rem);
  line-height: 1;
  font-weight: 900;
  font-family: var(--displayFont);
}

.targetWrapper {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(150px, 40vw, 300px);
  height: clamp(150px, 40vw, 300px);
}

.panel h2 {
  margin-top: 0;
  font-size: 1.3rem;
  font-family: var(--displayFont);
}

.panel p {
  margin: 1rem;
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 1.25;
  font-family: var(--displayFont);
}

.button {
  margin: 10px;
  padding: 0.75rem 1.5rem;
  background-color: var(--pageBackgroundColor);
  font-size: 1.5rem;
  font-weight: 900;
  font-family: var(--displayFont);
  cursor: pointer;
}

/* .nameLabel {
  font-family: var(--displayFont);
  font-weight: 700;
}

.nameInput {
  border: 2px solid black;
} */

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.errorMessage {
  color: #0e0e2c;
  font-weight: 700;
  margin-top: 1rem;
}

.instructions p {
  font-size: large;
  font-weight: normal;
  font-family: Arial;
}

.instructions ul {
  margin: 1rem;
}

@media (min-width: 768px) {
  .panel {
    width: 690.3px;
  }
}
